---
title: "Tredje devblog, fortune cookie m.m"
date: "maj fram till 22"
effort: "medium/high"
---

# tredje devblog

Nu när man klickar på "Spela våra spel" går man in i en meny med flera spel istället för att enbart gå in i mattespelet. Där finns mattespelet och ett nytt spel "Lyckokaka" som jag skapade också

Lyckokaka spelet fungerar så att man klickar på några knappar och då kommer ett slumpmässigt meddelande upp, utifrån ca 25 stycken möjliga meddelanden. Det var stort fokus på att få smidiga animationer som fungerar och ser fint ut. Transparent tween, position och rotation användes på texten och kakan, vilket jag inte hade omfattande kunskap om förr, men nu kan bättre. Animationer tog ett tag att få till men jag är rätt så nöjd med det. 
Jag redigerade en bild på en lyckokaka så att jag hade två separata bilder, där den är delad i mitten. Då lyckades jag göra att kakan går i två när man klickar på den, och var en rätt så kreativ lösning och som var lite klurigt att få till rätt.

Jag gjorde fler nyheter, bilder för nyheter och beskrivningar

Nu när en artikel väljs vidarebefordras ett index i URL:en, vilket gör att "deepdive" sidan automatiskt renderar rätt titel, bild och kompletta beskrivningar baserat på den valda artikeln. Det var relativt enkelt att göra, behövde typ bara index